<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sehalsein.universityportal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UniversityPortalActivity.UniversityHomeTabActivity"
            android:label="@string/title_activity_university_home_tab" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".UniversityPortalActivity.UniverstyAddCollege" />
        <activity
            android:name=".UniversityPortalActivity.UniversityViewAllFiles"
            android:label="@string/title_activity_university_view_all_files"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.NotificationActivity" />
        <activity
            android:name=".UniversityPortalActivity.UniversityViewAllNotification"
            android:label="@string/title_activity_university_view_all_notification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FacultyPortalActivity.FacultyPortal"
            android:label="@string/title_activity_faculty_portal"></activity>
    </application>

</manifest>